.goal-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #230cf5;
  color: white;
  background-color: #230cf5;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}